.meta-wrapper {
    width: 100%;
    display: flex;

    & .meta-column {
        padding: 10px;
        display: flex;
        flex-direction: column;

        & .meta-item {
            display: flex;
            white-space: nowrap;
            align-items: center;

            & > .meta-icon {
                margin-right: 8px;
            }

            & > .meta-item-key {
                margin-right: 5px;
            }
        }
    }
}
