.meta-container {
    width: 100%;

    & .meta-limitations {
        padding: 0 10px 10px 10px;

        & > .meta-limitations-key {
            display: flex;
            align-items: center;
            margin-bottom: 4px;

            & > .meta-icon {
                margin-right: 8px;
            }
        }

        & > .meta-limitations-value {
            white-space: pre-wrap;
            overflow-wrap: break-word;
            padding-left: 20px;
        }
    }
}

.meta-wrapper {
    width: 100%;
    display: flex;

    & .meta-column {
        padding: 10px;
        display: flex;
        flex-direction: column;

        & .meta-item {
            display: flex;
            white-space: nowrap;
            align-items: center;

            & > .meta-icon {
                margin-right: 8px;
            }

            & > .meta-item-key {
                margin-right: 5px;
            }
        }
    }
}
