.search-wrapper {
    display: flex;
    align-items: baseline;

    & .bp3-popover-target {
        width: 100%;
    }
}

.search-wrapper > :first-child {
    flex-grow: 1;
}

.pattern-note {
    padding: 4px
}
