.component-group-pane-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    overflow-y: hidden;

    & .bp3-tabs {
        display: flex;
        flex-direction: column;
        overflow-y: inherit;

        & .bp3-tab-list {
            margin: 4px;
        }

        & .bp3-tab-panel {
            overflow-y: auto;
        }
    }
}
