.artifacts-component-list-block {
    padding: 5px;
    display: flex;
    flex-direction: column;

    & .artifact-label-wrap {
        display: flex;
        justify-content: space-between;
        padding: 3px 0 3px 20px;

        &:hover {
            background-color: #EBF1F5;

            & .artifact-label-link {
                &:after {
                    background: linear-gradient(to left,
                    rgba(235, 241, 245, 0.9) 20%,
                    rgba(235, 241, 245, 0) 100%
                    );
                    pointer-events: none;
                }
            }
        }

        & .artifact-label-link {
            cursor: pointer;
            width: 195px;
            overflow: hidden;
            position: relative;

            &:after {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 15%;
                height: 100%;
                content: "";
                background: linear-gradient(to left,
                rgba(245, 248, 250, 0.9) 20%,
                rgba(245, 248, 250, 0) 100%
                );
                pointer-events: none;
            }
        }

        & .artifact-label-text {
            width: 195px;
            overflow: hidden;
            position: relative;
            color: gray;

            &:after {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 15%;
                height: 100%;
                content: "";
                background: linear-gradient(to left,
                rgba(245, 248, 250, 0.9) 20%,
                rgba(245, 248, 250, 0) 100%
                );
                pointer-events: none;
            }
        }

        & .artifact-label-right {
            cursor: pointer;
            display: flex;
            align-content: center;

            & a {
                color: inherit;
                text-decoration: none;
            }

            & > * {
                margin-right: 5px;
            }
        }
    }

    & .selected {
        background-color: #137CBD !important;
        color: white;

        & .artifact-label-link {
            &:after {
                background: linear-gradient(to left,
                rgba(19, 124, 189, 0.9) 20%,
                rgba(19, 124, 189, 0) 100%
                ) !important;
            }
        }
    }
}

.artifacts-component-list-block .box {
    margin-top: 10px;
}

.load-artifacts-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
