.header-wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #D8E1E8;
    color: #30404D;

    & .logo {
        padding: 20px 15px;
        font-size: 30px;
        font-weight: bold;
    }

    & .greetings-wrapper {
        display: flex;
        align-items: center;
        padding: 0 10px;

        & .greetings {
            font-size: 18px;
        }

        & .logout-button {
        }

        & .bp3-button {
            padding: 5px 5px 5px 10px;
        }

        & .bp3-large {
            min-width: 26px;
        }
    }
}
